.container{
    flex-grow: 1;
    margin: 3%;
    margin-top: 1%;
    padding: 1%;
    border: 2px solid #D7933A;
}
.hobbies{
    background-color: #A5F0AF;
}
.skills{
    background-color: #9BD2FF;
}
.title{
    color: #EB7D00;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 8%;
}
.item{
    color: #309743;
    font-size: 24px;
    padding: 1%;
    font-weight: 600;
}