.user-details{
    padding: 2.5%;
    padding-bottom: 1.5%;
}

.detail{
    font-size: 25px;
    margin-left: 1%;
    margin-bottom: 1%;
    font-weight: 600;
}
.sub-detail{
    font-size: 18px;
    margin-left: 1%;
    margin-bottom: 1%;
    font-weight: 600;
}