*{
    box-sizing: border-box;
}
.posts_section{
    width: 600px;
    font-size: 20px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(231, 233, 234);
    position: absolute;
    border-right: 1px solid rgba(73, 73, 73, 0.829);
    margin-left: 300px;
}
.category{
    backdrop-filter: blur(15px);
    display: flex;
    background-color: rgb(0, 0, 0,0.7);
    color: inherit;
    font: inherit;
    width: 600px;
    position: fixed;
}
.category_option{
    background-color: transparent;
    border: none;
    color: grey;
    font: inherit;
    font-weight: 700;
    font-size: 15px;
    height: 53px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.2s;
    border-bottom: 1px solid rgba(73, 73, 73, 0.829);
}
.left{
    border-left: 1px solid rgba(73, 73, 73, 0.829);
}
.right{
    border-right: 1px solid rgba(73, 73, 73, 0.829);
}
.category_option:hover{
    background-color: rgb(34, 34, 34);
}
.selected{
    color:  rgb(231, 233, 234);
    border-bottom: 3px rgb(29, 155, 240) solid;
}
.make_post{
    width: 598px;
    display: flex;
    margin-top: 53px;
    min-height: 120px;
    justify-content: center;
    border-bottom: 1px solid rgba(73, 73, 73, 0.829);

}
.post_input{
    width: 510px;
    margin-top: 22px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color:  rgb(231, 233, 234);
}
.post_input:focus{
    border:none;
    outline: none;
}
.upload_options{
    width: 443px;
    margin-top: 22px;
    display: flex;
    fill: rgb(29, 155, 240);
}
.post_buttons{
    display: none;
}
.post_option_image{
    width: 34px;
    height: 34px;
    cursor: pointer;
    border-radius: 9999px;
    padding-left: 8px;
    padding-top: 8px;
    display: flex;
    transition-property: background-color;
    transition-duration: 0.2s;
}
.post_option_image:hover{
    background-color: rgba(63, 168, 238, 0.185);
}

.post_submit{
    margin-top: 16px;
    width: 66.73px;
    height: 36px;
    background-color: rgb(29, 155, 240);
    border: none;
    border-radius: 9999px;
}
.post_submit:hover{
    background-color: rgb(22, 113, 173);
}
.submit_text{
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(231, 233, 234);
    font-size: 15px;
    font-weight: 700;
}
.post_user_image{
    margin-top: 16px;
    border-radius: 9999px;
    height: 40px;
}
.post_wrapper{
    width:566px;
    display: flex;
    justify-content: space-between;
}
.upload_options_wrapper{
    display: flex;
    justify-content: space-between;
}
.post{
    display: flex;
}
.post_container{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(73, 73, 73, 0.829);
    border-top: 1px solid rgba(73, 73, 73, 0.829);
    width: 598px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(231, 233, 234);
    font-size: 15px;
    font-weight: 400;
    padding-left: 12px;
    margin-top: 14px;
}
.user{
    display: flex;
    width: 514px;
    justify-content: space-between;
}
.details{
    display: flex;
}
.detail_wrapper{
    padding: 2px;
}
.spacer,.post_time{
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color:rgb(113, 118, 123);
    font-size: 15px;
    font-weight: 400;
}
.profile_picture{
    margin-top: -2px;
}
.grey{
    fill:rgb(113, 118, 123);
}
.post_data{
    width: 514px;
    max-width: 514px;
    font-weight: 400;
    line-height: 20px;
}
.stats{
    display: flex;
    fill:rgb(113, 118, 123);
    height: 32px;
    align-items: flex-end;
}
.stat_container{
    width: 112.13px;
    max-width: 112.13px;
    height: 20px;
    display: flex;
    align-items: center;
    line-height: 20px;

    transition-property: fill, color;
    transition-duration: 0.2s;
}
.stat_icon{
    width: 26.75px;
    height: 26.75px;
    line-height: 20px;
}
.stat_value{
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color:rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
    padding-left: 4px;
    padding-bottom: 7px;
    line-height: 20px;
}
.transparent{
    color: transparent;
}
.comment:hover{
    fill:  rgb(29, 155, 240);
    .stat_value{
    color:  rgb(29, 155, 240);
    }
}
.commented{
    fill:  rgb(29, 155, 240);
    .stat_value{
    color:  rgb(29, 155, 240);
    }
}

.retweet:hover{
    fill:  rgb(57, 170, 86);
    .stat_value{
    color: rgb(57, 170, 86);

    }
}
.retweeted{
    fill:  rgb(57, 170, 86);
    .stat_value{
    color: rgb(57, 170, 86);

    }
}
.like:hover{
    fill:  rgb(249, 24, 128);
    .stat_value{
    color:  rgb(249, 24, 128);
    }
}

.liked{
    fill:  rgb(249, 24, 128);
    .stat_value{
    color:  rgb(249, 24, 128);
    }
}

.views:hover{
    fill:  rgb(29, 155, 240);
    .stat_value{
    color:  rgb(29, 155, 240);
    }
}

.share:hover{
    fill:  rgb(29, 155, 240);
    .stat_value{
    color:  rgb(29, 155, 240);
    }
}
.limit{
    min-width: 514px;
    max-width: 514px;
}
.reactive_new_post{
    display: none;
}
@media screen and (max-width: 414px) {
    .make_post{
        display: none;
    }
    .posts_section{
        width:100%;
        margin-left: 0px;
    }
    .category{
        margin-top: 53px;
        width: 100vw;
    }
    .posts{
        margin-top: 106px;
    }
    .user{
        width:100%;
    }
    .post_container{
        width: 100%;
    }
    .post_data{
        width:100%;
        max-width: 100%;
    }
    .stat_container{
        width: 62.13px;
        max-width: 62.13px;
    }
    .reactive_new_post{
        display: block;
        padding-top: 15px;
        padding-left: 15px;
        height: 56px;
        width: 56px;
        background-color: rgb(29, 155, 240);
        border-radius: 9999px;
        fill: rgb(231, 233, 234);
        position: fixed;
        bottom: 72.5px;
        right: 20px;
    }
}
.invisible{
    display: none;
}