.posts_section{
    width: 600px;
    min-height: 1000vh;
    font-size: 20px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(231, 233, 234);
    position: absolute;

    border-right: 1px solid rgba(73, 73, 73, 0.829);
    margin-left: 300px;
}
.category{
    
    display: flex;
    background-color: rgb(0, 0, 0,0.3);
    color: inherit;
    font: inherit;
    width: 600px;
    position: fixed;
}
.category_option{
    background-color: transparent;
    border: none;
    color: grey;
    font: inherit;
    font-weight: 700;
    font-size: 15px;
    height: 53px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.2s;
}
.category_option:hover{
    background-color: rgb(34, 34, 34);
}
.selected{
    color:  rgb(231, 233, 234);
    border-bottom: 3px rgb(29, 155, 240) solid;
}
.make_post{
    width: 600px;
    display: flex;
    margin-top: 53px;
}
.post_input{
    font-size: 20px;
    background-color: transparent;
    border: none;
    color:  rgb(231, 233, 234);
}
.post_input:focus{
    border:none;
    outline: none;
}
.upload_options{
    width: 600px;
    display: flex;
    fill: rgb(29, 155, 240);
}
.post_buttons{
    display: none;
}
.post_option_image{
    width: 28px;
    height: 28px;
    cursor: pointer;
    border-radius: 9999px;
    padding-left: 2px;
    padding-top: 2px;

    transition-property: background-color;
    transition-duration: 0.2s;
}
.post_option_image:hover{
    background-color: rgba(63, 168, 238, 0.185);
}

.post_submit{
    align-self: flex-end;
    justify-self: flex-end;
}